@model tinyBlog.Models.Post

@{
    ViewData["Title"] = "Edit";
}
<link href="~/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/js/froala_editor.pkgd.min.js"></script>
<h4>Post</h4>
<h1>Edit</h1>
<hr />
<div class="row">
    <div class="col-md-14">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div>
                <textarea asp-for="Content" id="textEditor"></textarea>
                <script>
                    var editor = new FroalaEditor("#textEditor", {
                        enter: FroalaEditor.ENTER_P,
                        height: 350,
                        zIndex: 8000
                    })
                </script>
            </div>
            <div class="form-group">
                <label asp-for="PostType" class="control-label"></label>
                <select asp-for="PostType" class="form-control" asp-items="Html.GetEnumSelectList<PostType>()"></select>
                <span asp-validation-for="PostType" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Author"/>
            <input type="hidden" asp-for="PublishDate" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Visible" /> @Html.DisplayNameFor(model => model.Visible)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var editor = new FroalaEditor("#textEditor", {
            enter: FroalaEditor.ENTER_P,
            height: 350,
            zIndex: 8000
        })
    </script>
}
