@model IEnumerable<tinyBlog.Models.Post>

@{
    ViewData["Title"] = "Your posts";
}

<h1>Your posts</h1>
<div id="blogEntries">
</div>
@section Scripts{
	<script>
		$('#blogEntries').load("/Home/BlogEntriesPartial")
	</script>
}