@model tinyBlog.Models.Post
@{
	ViewData["Title"] = "Home Page";
}
<style>
	.oval-container {
		border-radius: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		top: 70px;
	}
	.oval-button {
		width: 700px;
		height: 30px;
		border-radius: 15px;
		background-color: #18191a;
		display: block;
		color: white
	}
	.modal-content {
		border-radius: 3%;
		overflow: hidden;
	}

	.form-control.oval-dropdown {
		border-radius: 50px;
		padding: 5px 20px;
		width: 50%
	}

	.form-control.wide-input {
		width: 100%;
		height: 120px;
	}

	.modal-dialog {
		transform: none !important;
		-webkit-transform: none !important;
		-moz-transform: none !important;
		max-width: 90%
	}

	
	div#textEditor {
		width: 81%;
		margin: auto;
		text-align: left;
	}
</style>

<link href="~/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/js/froala_editor.pkgd.min.js"></script>
<!-- Create post modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered " role="document" style="width:90%">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title">Make a post</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form asp-action="CreatePost" id="createPostForm">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<label asp-for="Title" class="control-label"></label>
						<input asp-for="Title" class="form-control">
						<span asp-validation-for="Title" class="text-danger"></span>
					</div>
					<div>
						<textarea asp-for="Content" id="textEditor"></textarea>
						<script>
								var editor = new FroalaEditor("#textEditor", {
									enter: FroalaEditor.ENTER_P,
									height: 350,
									zIndex: 8000
								})
						</script>
					</div>
					<div class="form-group">
						<label asp-for="PostType" class="control-label"></label>
						<select asp-for="PostType" class="form-control" asp-items="Html.GetEnumSelectList<PostType>()"></select>
						<span asp-validation-for="PostType" class="text-danger"></span>
					</div>
					<div id="addTag">
						@for (int i = 0; i < Model.Tags.Count; i++)
						{
							@Html.EditorFor(m => m.Tags[i])
						}
					</div>
					<!--<div class="form-group">
						<label asp-for="FeaturedImageUrl" class="control-label"></label>
						<input asp-for="FeaturedImageUrl" class="form-control" autocomplete="off" />
						<span asp-validation-for="FeaturedImageUrl" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="UrlHandle" class="control-label"></label>
						<input asp-for="UrlHandle" class="form-control" autocomplete="off" />
						<span asp-validation-for="UrlHandle" class="text-danger"></span>
					</div>-->				
					<div class="row">
						<div class="col md-4">
							<input class="btn btn-default" type ="button" id="btnAdd" value="Add tag"/>
						</div>
					</div>
					<div class="form-group form-check">
						<label class="form-check-label">
							<input class="form-check-input" asp-for="Visible" /> @Html.DisplayNameFor(model => model.Visible)
						</label>
					</div>		
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<input type="submit" value="Create" class="btn btn-primary" />
					</div>
				</form>
			</div>

		</div>
	</div>
</div>
<div class="blog-posts">
	<!-- Button trigger modal -->
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-7 offset-sm-2 col-md-7 offset-md-2 col-lg-5 offset-lg-4">
				<div class="d-flex justify-content-center mt-5">
					<div class="oval-container">
						<button type="button" class="oval-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
							What's on your mind?
						</button>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
<div id="blogEntries">
</div>
@section Scripts{
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script>
		$("#btnAdd").on('click', function() {
			$.ajax({
				async : true,
				data : $('#createPostForm').serialize(),
				type : "POST",
				url : '/Posts/AddPostTag',
				success : function (partialView) {
					console.log("partialView: " + partialView);
					$('#addTag').html(partialView);	
				}
			});
		});
		$('#exampleModal').on('hidden.bs.modal', function () {
			$(this).find('form').trigger('reset');
		})
	</script>
	<script>
		(function () {
			new FroalaEditor("#textEditor", {
				enter: FroalaEditor.ENTER_P,
				height: 350,
				zIndex: 8000
			})
		})()
	</script>
	<script>
		$('#blogEntries').load("/Home/BlogEntriesPartial")
	</script>
    }

